<div>
  <div class = "col d-flex justify-content-center m-5">
    <div class = "card p-4" style = "width: 500px;
    min-height: 350px;
    background: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mt-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 25rem" %>
      </div>

      <div class="field mt-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", style: "width: 25rem" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div>
        <div class="actions mt-5">
          <%= f.submit "Log in"%>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
